
<div class="navbar-lewagon mb-2 navbar-display " style = "background-color: pink" >
  <div>
    <%= link_to root_path do %>
      <%= image_tag "cocktail_icon.png", alt: "cocktail", width: 50, class: "py-1 pl-1" %>
     <% end %>
  </div>
  <div>
    <%= link_to new_cocktail_path, class: "add-cocktail-btn" do %>
      <span> Ajouter un nouveau cocktail</span>
    <% end %>
  </div>
</div>

